@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #282828;
    font-family: "Xanh Mono", monospace;
    font-weight: 200;
    color: #eff0ea;
    height: 100vh;
    display: flex;  
    flex-direction: row;
    align-items:center;
    justify-content:start;
    /* padding: 1.5em; */
}

.main{
    /* border: 0.1em outset #eff0ea; */
    /* margin:1em; */
    display: flex;
    padding:2.5em;
    height: 100%;
    min-width: 70%;
    /* max-width:40em ; */
    margin: 1em auto;
    align-items: stretch;
    flex-direction: column;
}

.headerBox{
    display: flex;
    /* justify-content: space-between; */
    align-items:stretch;
    flex-direction: row;
    flex: 0 1 auto;
    /* border: 1px solid #eff0ea; */
    /* gap: 10em; */
    /* padding: 1em; */
}

.appTitleInfo
{
    display: flex;
    align-items:center;
    flex-direction: row;
    /* justify-content:; */
    gap: 10em;
    flex:2;
    /* margin-right: 0.5em; */
    padding-left: 0.5em;
    font-size: 2em;

    /* border-right:0.1em solid #eff0ea; */
    /* border: 1px solid #eff0ea; */
}


.sessionsInfo{
    padding: 0.5em;
    display: flex;
    flex: initial;
    width:13em;
    justify-content:space-between;
    border-left: #eff0ea 0.1em solid;
}

.appInfo,
.sessionsInfo,
.estimatedTime,
.ctrlButtons,
.sessionButtons{
    font-size: 1em;
}

.appInfo{
    flex: 1;
    padding: 0.5em;
    display: flex;
    justify-content:end;
    align-self: center;
}

.sessionCount{
    color: #a83642;
    font-size: 2em;
}

.sessionBox{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    border-top: 0.1em solid #eff0ea;
    padding: 0.1em;
    flex: 0 1 auto; 
    font-size: large;
    /* border: #eff0ea 1px solid; */
    

}

.ctrlButtons,
.sessionButtons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 2em;
    margin: 0.5em;
    flex-wrap: wrap;
    padding-left: 0.5em;
    
}
.ctrlButtons{
    border-right:0.1em solid #eff0ea;
}

button{
    border: none;
  font-family: "Xanh Mono", monospace;
    color: #eff0ea;
    background-color: #282828;
}

.timerDisplayBox{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* align-items:; */
    /* gap: 3.62em; */
    border-top: 0.1em solid #eff0ea;
    /* flex: 1 1 auto; */
    /* border: #eff0ea 1px solid; */
    /* padding: 0.5em; */
}

.timerBox{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content:space-between;
    flex:2;
    /* margin-right: 0.5em; */
    padding: 0.5em;
    /* border: #eff0ea 1px solid; */
}

.timer{
    font-size: 10em;
    color: #a83642;
    font-weight: 500;
    flex: 2;
    /* border: #eff0ea 1px solid; */
    /* margin-right: 0.5em; */
}


.taskName{
    font-size: 1.2em;
    padding-left: 0.5em ;
    flex: 1;
    align-self: flex-start;
        /* border: #eff0ea 1px solid; */

}

.estimatedTime{
    flex-direction: column;
    align-items: start;
    border-left:0.1em solid #eff0ea;
    padding: 0.5em;
    display: flex;
    flex: initial;
    width:13em;
}

.tasksBox{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    border-top: 0.1em solid #eff0ea;
    border-bottom: 0.1em solid #eff0ea;
    flex: 3 1 auto;
    /* border: #eff0ea 1px solid; */

    padding:1em 1em;
}

h3{
    padding-left: 0.5em;
    font-weight: 500;
    font-size:1.52em;
}

h1,h2{
    font-weight: 600;
    color: #eff0ea;
}

.addTaskContainer, #taskList{
    margin-left: 2em;
}

input{
    background-color: #282828;
    border: #282828 0.1em solid;
    color: #eff0ea;
    border: none;
    padding: 0.5em;
    font-size: 0.8em;
    width: 100%;
}

input:focus{
    outline: none;
    border:none;
    font-family: "Xanh Mono", monospace;

}

