@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #282828;
  font-family: "Pangolin", cursive;
    color: #F9FDE5;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 1em;
}

.main{
    display: flex;  
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    margin: 2em;

    max-width: 90%;
    min-width: 300px;

    
}

.ctrlButtons{
    display: flex;  
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    width: 100%;
    padding: 1em;
}

.timerBox{
    font-size: 8em;
    text-align: center;
    max-width: 100%;
    
}

.button{
    background-color: #F9FDE5;
    color: #282828;
    border: 1px solid #F9FDE5;
    padding: 0.5em 1em;
    font-size: 1.5em;
    cursor:pointer;
    border-radius: 1.5em;
    flex-basis: auto;
    min-width: fit-content;
    white-space: nowrap;
}

.button:hover{
    background-color: #282828;
    color: #F9FDE5;
    border-radius: 1.5em;
    border: 1px solid #F9FDE5;
}

@media (max-width: 600px) {
    .main{
        padding: 1em;
        margin: 1em;
        width: 95%;
    }
    .timerBox{
        font-size: 5em;
    }
    .button{
        font-size: 1.2em;
        padding: 0.5em 0.8em;
    }
    .ctrlButtons{
       justify-content: space-around;
        align-items: center;
        gap: 0.5em;
    }
}